<header style="display: flex; justify-content: end;">
    <button id="nav-logout" style="width: 15%;">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" /><path d="M9 12h12l-3 -3" /><path d="M18 15l3 -3" /></svg>
    </button>
</header>

<article>
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <hr>
    <strong>Correo: </strong> {{ user.email }} <br>
    <strong>Edad: </strong> 
        {{#if user.age}}
            {{ user.age }} años
        {{else}}
            N/A    
        {{/if}}
</article>

<script>
    document.getElementById('nav-logout').addEventListener('click', () => {
        window.location.href = `/api/sessions/logout`;
    });
</script>